
.first_item {
  svg {
    font-size: 22px;
  }
}

.middle_item {
  span {
    display: none;
  }
  svg {
    font-size: 22px;
  }

  padding: 8px 16px;
}
.container_middle {
  gap: 0;
}

.last_item {
  svg {
    font-size: 22px;
  }
}

.first_btn {
  padding: 8px 16px;
}

@media (min-width: 1180px) {
  .last_item {
    display: none;
  }
}

@media (min-width: 912px) {
  .first_item {
    display: none;
  }

  .middle_item, .first_item, .last_item {
    span {
      display: inline;
    }
    svg {
      font-size: 16px;
    }
  }

  .middle_item {
    padding: 6px 12px;
  }
  
  .container_middle {
    gap: 6px;
  }
}
