// ### variables block ***
@import '../../variables.module.scss';

// ### utility blocck ***
@import '../../utility.module.scss';


.info_card {
  grid-area: info_card;
  background-color: $dark_bg_second;
  height: 390px;
  border-radius: 8px;
  border: 1px solid $dark_border_blocks;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.37s;
  animation-fill-mode: both;

  html[style="color-scheme: light;"] & {
    background-color: $light_base_bg;
  }
}

// info card
.info_card {
  position: relative;
  padding: 16px 12px;
}
.info_card__img_box {
  display: flex;
  align-items: center;

  margin-bottom: 12px;

  & img {
    border-radius: 9999px;
  }
  & span {
    flex: 1 0 auto;
    text-align: center;
    color: $dark_h1_base;
    font-weight: 600;

    html[style="color-scheme: light;"] & {
      color: $light_h1_base;
    }
  }
}

.themeToggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: $dark_text_second;
  transition: 0.2s;
  font-size: 1.5rem;
  
  &:hover {
    color: $dark_accent_02;
  }
  html[style="color-scheme: light;"] & {
    color: $light_accent_02;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// end info card

// media
@media (max-width: 1006px) {
  .info_card {
    height: auto;
    max-height: 420px;
  }
}

@media (max-width: 911px) {
  .info_card {
    display: none;
  }
}
// end media
