@import '../../variables.module.scss';

// ### utility blocck ***
@import '../../utility.module.scss';


.media_list {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 14px;
  margin-bottom: 14px;
}
.media_link {
  display: flex;
  gap: 5px;
  align-items: center;

  span {
    font-weight: 300;
    font-size: 16px;
  }

  &:hover {
    span {
      transition: 0.2s;
      text-decoration: underline;
      color: $dark_h2_base;
    }

    svg:first-child {
      transition: 0.2s;
      transform: scale(1.1) rotate(8deg);
      color: $dark_accent_01;
    }
  }
}
