@import '../../variables.module.scss';

.skills {
  padding: 0 10px;
  padding-top: 8px;
  &_title {
    font-size: 32px;
    color: $dark_accent_01;
    font-weight: 900;
    margin-left: 29px;
  }
  &_little {
    font-size: 12px;
    margin: 0 0 0.25em 29px;
  }

  &_li {
    display: flex;
    padding: 8px;
    border: 1px solid #666;
    background: linear-gradient(
      45deg,
      rgba(14, 14, 14, 1) 0%,
      rgb(28, 28, 28) 67%,
      rgba(14, 14, 14, 1) 100%
    );
    html[class*="light"] & {
      background: linear-gradient(
      45deg,
      rgb(227, 227, 227) 0%,
      rgb(206, 206, 206) 67%,
      rgb(227, 227, 227) 100%
    );
    }
    border-radius: 12px;
    margin-bottom: 1.5rem;
    transition: 0.2s;

    &:hover {
      background: linear-gradient(
      45deg,
      rgb(19, 19, 19) 0%,
      rgb(36, 36, 36) 67%,
      rgb(19, 19, 19) 100%
    );
    html[class*="light"] & {
      background: linear-gradient(
      45deg,
      rgb(216, 216, 216) 0%,
      rgb(183, 183, 183) 67%,
      rgb(209, 209, 209) 100%
    );
    }
      
      svg {
        transform: scale(1.1);
        color: $dark_h1_base;

        html[class*="light"] & {
          color: $light_h1_base;
        }
      }
    }
  }
  &_leftBox {
    flex: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 44px;
  }

  &_rightBox {
    &_title {
      font-size: 32px;
      font-weight: 700;
      color: $dark_h1_base;

      html[class*="light"] & {
        color: $light_h1_base;
      }
    }
    &_text {
      font-size: 18px;
      // color: $dark_h2_base;
    }
  }
}


@media (max-width: 658px) {
  .skills {
    &_li {
      flex-flow: column;
    }

    &_rightBox {
      &_title {
        font-size: 26px;
        margin-bottom: 1rem;
      }
      &_text {
        font-size: 16px;
      }
    }
  }
}
