@import '../../variables.module.scss';
@import '../../utility.module.scss';

.experience {

  // GSAP animations
  &_title span {
    opacity: 0;
    transform: translate(0, 24px);
    font-size: 32px;
    font-weight: 900;
    color: $dark_accent_01;
    margin-left: 29px;
  }
  &_little {
    font-size: 12px;
    margin-left: 29px;
    margin-bottom: 1rem;
  }
}
