
.modal {
  transform: scale(0.75) translateY(130px);

  transition: 0.24s ease;
  opacity: 0.1;
}

.modal-wrapper.active {
  display: flex;
}

.modal-wrapper.activated .modal {
  transform: scale(1) translateY(0px);
  opacity: 1;
}

html.lock {
  overflow: hidden;
}
