@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}


/* shim */

.animate::before {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.shim-carcass {
  position: relative;
  overflow: hidden;
}

.shim-carcass::before {
  position: absolute;
  content: '';
  height: 100%;
  top: 0px;
  width: 100%;
  left: -115%;
  background-image: linear-gradient(100deg, rgba(90,90,90,0) 0%, rgba(90,90,90,0.06089154411764708) 12%, rgba(90,90,90,0.13932291666666663) 25%, rgba(90,90,90,0.33260022759103647) 46%, rgba(90,90,90,0.7583705357142857) 51%, rgba(90,90,90,0.3297991071428571) 57%, rgba(90,90,90,0.1337206757703081) 79%, rgba(90,90,90,0.05809042366946782) 90%, rgba(90,90,90,0) 100%);
  animation-timing-function: linear;
}
html[style="color-scheme: light;"] .shim-carcass::before {
  background-image: linear-gradient(100deg, rgba(90,90,90,0) 0%, rgba(150,150,150,0.06089154411764708) 12%, rgba(150,150,150,0.13932291666666663) 25%, rgba(150,150,150,0.33260022759103647) 46%, rgba(150,150,150,0.7583705357142857) 51%, rgba(150,150,150,0.3297991071428571) 57%, rgba(150,150,150,0.1337206757703081) 79%, rgba(150,150,150,0.05809042366946782) 90%, rgba(150,150,150,0) 100%);

}

@keyframes shimAnimation {
  0% {
    left: -115%;
  }
  100% {
    left: 115%;
  }
}

.shim-carcass.shim-hover:hover::before {
  animation-name: shimAnimation;
  animation-iteration-count: 1;
}

.shim-carcass.shim-effect::before {
  animation-name: shimAnimation;
  animation-iteration-count: infinite;
}

/* utility animation classes */
.an_fast::before {
  animation-duration: 1s;
}
.an_rapid::before {
  animation-duration: 0.5s;
}
.an_slow::before {
  animation-duration: 2.7s;
}

/* end utility animation classes */

/* end shim */

/* utility classes */


/* end utility classes */


/* blog styles */
.blog {}
.blog .title {
  font-size: 24px;
  color: #e0e0e0;
}
html[class*="light"] .blog .title {
  color: #6c6c6c;
}

/* end blog styles */
