@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}


/* shim */

.animate::before {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.shim-carcass {
  position: relative;
  overflow: hidden;
}

.shim-carcass::before {
  position: absolute;
  content: '';
  height: 100%;
  top: 0px;
  width: 100%;
  left: -115%;
  background-image: linear-gradient(100deg, rgba(90,90,90,0) 0%, rgba(90,90,90,0.06089154411764708) 12%, rgba(90,90,90,0.13932291666666663) 25%, rgba(90,90,90,0.33260022759103647) 46%, rgba(90,90,90,0.7583705357142857) 51%, rgba(90,90,90,0.3297991071428571) 57%, rgba(90,90,90,0.1337206757703081) 79%, rgba(90,90,90,0.05809042366946782) 90%, rgba(90,90,90,0) 100%);
  animation-timing-function: linear;
}
html[style="color-scheme: light;"] .shim-carcass::before {
  background-image: linear-gradient(100deg, rgba(90,90,90,0) 0%, rgba(150,150,150,0.06089154411764708) 12%, rgba(150,150,150,0.13932291666666663) 25%, rgba(150,150,150,0.33260022759103647) 46%, rgba(150,150,150,0.7583705357142857) 51%, rgba(150,150,150,0.3297991071428571) 57%, rgba(150,150,150,0.1337206757703081) 79%, rgba(150,150,150,0.05809042366946782) 90%, rgba(150,150,150,0) 100%);

}

@keyframes shimAnimation {
  0% {
    left: -115%;
  }
  100% {
    left: 115%;
  }
}

.shim-carcass.shim-hover:hover::before {
  animation-name: shimAnimation;
  animation-iteration-count: 1;
}

.shim-carcass.shim-effect::before {
  animation-name: shimAnimation;
  animation-iteration-count: infinite;
}

/* utility animation classes */
.an_fast::before {
  animation-duration: 1s;
}
.an_rapid::before {
  animation-duration: 0.5s;
}
.an_slow::before {
  animation-duration: 2.7s;
}

/* end utility animation classes */

/* end shim */

/* utility classes */


/* end utility classes */


/* blog styles */
.blog {}
.blog h2 {
  font-size: 24px;
  margin-bottom: 0.6rem;
  color: #e0e0e0;
  font-weight: 700;
}
html[class*="light"] .blog h2 {
  color: #434343;
}

.blog h3 {
  font-size: 20px;
  margin-bottom: 0.4rem;
  font-weight: 700;
  color: #c8c8c8;
}
html[class*="light"] .blog h3 {
  color: #535353;
}

.blog p {
  margin-bottom: 1.5em;
}
html[class*="light"] .blog p {
  color: #737373;
}

.blog .command {
  background-color: #6e7274;
  color: #cfdce0;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 5px;
}

.blog .link {
  font-weight: 500;
  color: rgb(106, 210, 251);
  text-decoration: underline;
}
html[class*="light"] .blog .link {
  color: rgb(50, 102, 121);
}

.blog .instructions {
  margin-left: 2rem;
  margin-bottom: 2rem;
  list-style-type: decimal;
}
.blog .instructions li {
  margin-bottom: 0.8rem;
  color: #cfdce0;
}
html[class*="light"] .blog .instructions li {
  color: #3a3e3f;
}

.blog .highlight {
  color:#e0e0e0;
}
html[class*="light"] .blog .highlight {
  color: #2a2a2a;
}

.blog .warning {
  padding: 4px 8px 4px 32px;
  border-radius: 8px;
  background-color: #856c08;
  color: #f9d442;
  border: 1px solid #ecc62e;
  margin-bottom: 1rem;
  position: relative;
}
.blog .warning::before {
  content: '❗';
  display: block;
  position: absolute;
  font-size: 1.35rem;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
html[class*="light"] .blog .warning {
  background-color: #d8b528;
  color: #695814;
  border: 1px solid #6a570c;
}

.blog .danger {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #850808;
  color: #f94242;
  border: 1px solid #ec2e2e;
  margin-bottom: 1rem;
}
html[class*="light"] .blog .danger {
  background-color: #d82828;
  color: #691414;
  border: 1px solid #6a0c0c;
}

.blog .well {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #128508;
  color: #67f942;
  border: 1px solid #5aec2e;
  margin-bottom: 1rem;
}
html[class*="light"] .blog .well {
  background-color: #5dd828;
  color: #256914;
  border: 1px solid #156a0c;
}

.bold {
  font-weight: 700;
}

/* end blog styles */

.rotate-infinite {
  animation-name: rotateInfinite;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
