@import './variables.module.scss';

.outer_container {
  background-color: $dark_base_bg;
  min-height: 100vh;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;

  font-smooth: always;

  color: $dark_text_base;
}

.grid {
  display: grid;
  grid-template-columns: 290px 1fr 250px;
  grid-template-rows: 400px auto;
  grid-template-areas:
    'info_card profile stats'
    'info_card profile blogpost_tags';
  column-gap: 24px;
}

// media

@media (max-width: 1279px) {
  .grid {
    grid-template-columns: 250px 1fr 230px;
    column-gap: 12px;
  }
}

@media (max-width: 1179px) {
  .grid {
    grid-template-columns: 290px 1fr;
    grid-template-areas:
      'info_card profile'
      'info_card profile';
  }
}

@media (max-width: 1006px) {
  .grid {
    grid-template-columns: 248px 1fr;
  }
  .info_card {
    height: auto;
    max-height: 380px;
  }
}

@media (max-width: 911px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'profile';
  }
  .info_card {
    display: none;
  }
  .profile {
    border: none;

    &_projects {
      padding: 0;

      &_title, &_little {
        padding: 0 10px;
      }
    }

    &_me {
      padding: 0 10px;
    }
  }

  .projects {
    &_item {
      margin-right: 0;
    }
  }
}

@media (max-width: 777px) {
  .projects {
    &_item {
      flex-flow: column nowrap;
      height: auto;
    }
    &_imgBox {
      max-width: 550px;
      width: 100%;
      margin: 0 auto;
      margin-top: 12px;
    }
    &_infoBox {
    }
    &_title {
      text-align: right;
      padding-right: 30px;
    }
    &_description {
      margin-bottom: 10px;
    }
    &_explore_and_timeBox {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}

// end media
