// utility classes
.delimiter {
  width: 100%;
  height: 1px;
  background-color: $dark_text_base;
}
.mb_10px {
  margin-bottom: 10px;
}
.mb_16px {
  margin-bottom: 16px;
}
.mb_26px {
  margin-bottom: 26px;
}

.p_limited {
  max-width: 663px;
}
// end utility classes