$dark_base_bg: #0e0e0e;
$light_base_bg: #e0e0e0;

$dark_text_base: #9b9b9b;
$light_text_base: #6c6c6c;
$dark_text_second: #606060;
$light_text_second: #707070;

$dark_h1_base: #dddddd;
$light_h1_base: #424242;
$dark_h2_base: #bbbbbb;
$light_h2_base: #525252;

$dark_text_bright: #f6bb42;
$dark_bg_second: $dark_base_bg;

$dark_border_blocks: #222222;

$dark_accent_01: #f6bb42;
$dark_accent_02: #48cfad;
$light_accent_01: #e4a11c;
$light_accent_02: #20a382;

$dark_post_bg: #272727;
$light_post_bg: #c9c9c9;
$dark_post_border: #474951;
$light_post_border: #bdbdbd;


$dark_project_item_border: #222222;
$light_project_item_border: #dadada;
$dark_project_tag_bg: #171718;
$light_project_tag_bg: #cbcbd3;

$dark_project_exploreBtn_bg: #1c1c1d;
$light_project_exploreBtn_bg: #d6d6df;
$dark_project_exploreBtn_text: $dark_post_border;
$light_project_exploreBtn_text: #8b8b8b;


$dark_project_bg_onHover: #181819;
$light_project_bg_onHover: #c4c4c4;

$dark_blogItemHeadingSkeleton_bg: #272727;
$dark_blogItemBiteSkeleton_bg: #363636;

$dark_specblog_tagBg: #3b778e;
$light_specblog_tagBg: #4c98b7;
$dark_specblog_tagText: #87ceeb;
$light_specblog_tagText: #b2e6fa;
$dark_specblog_tagBgHover: #276177;
$light_specblog_tagBgHover: #3186a7;

// abs colours
$bitter_sweet_02: #fc6e51;
$blue_jeans_01: #5d9cec;
$lavander_01: #ac93ec;
$blue: #607aec;
