@import '../../variables.module.scss';


.contact {
  
  // GSAP animations
  &_title span {
    opacity: 0;
    transform: translate(0, 24px);
    font-size: 32px;
    color: $dark_accent_01;
    font-weight: 900;
    margin-left: 29px;

    html[class="light"] & {
      color: $light_accent_01;
    }
  }
}
