

.v2_modal-wrapper {
  display: flex;
  visibility: hidden;
  opacity: 0.0;
  transition: 0.37s;
}

.v2_modal-wrapper.pre-active {
  visibility: visible;
  /* opacity: 1; */
}


.v2_modal-wrapper.active {
  opacity: 1;
}
