// *** variables block ###
@import '../../variables.module.scss';

// *** utility block ###
@import '../../utility.module.scss';

.blog {
  grid-area: profile; // to match grid area with initial profile property. may be to be fixed to imporove semantics
  border-radius: 8px;
  // border: 1px solid $dark_border_blocks;
}

.blog {
  padding-top: 54px;
  padding-left: 10px;
  padding-right: 10px;

  &_box_title_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    margin-bottom: 12px;
  }
  &_page_title {
    font-weight: 600;
    font-size: 32px;
    color: $dark_accent_01;
  }
  &_addBtn {
    font-size: 2rem;
    transition: 0.17s;
    color: $dark_text_second;
    cursor: pointer;

    &:hover {
      color: $dark_accent_02;
    }
  }
}

@media (max-width: 1179px) {

}

@media (max-width: 911px) {
  .blog {
    border: none;
  }
}

@media (max-width: 499px) {
  .blog {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 455px) {
  .blog {
    &_page_title {
      font-size: 28px;
    }
  }
}

@media (max-width: 396px) {
  .blog {
    &_box_title_add {
      gap: 8px;
      padding-left: 12px;
    }
    &_page_title {
      font-size: 24px;
    }
  }
}

@media (max-width: 343px) {
  .blog {
    &_box_title_add {
      gap: 4px;
      padding-left: 6px;
    }
    &_page_title {
      font-size: 22px;
    }
  }
}

.bg_dark {
  background-color: $dark_post_border;
}
