// *** variables block ###
@import '../../variables.module.scss';

// *** utility block ###
@import '../../utility.module.scss';

.page {
  padding-bottom: 50px;
  padding-top: 54px;
  grid-area: profile;
  border-radius: 8px;
}

.specpr {
  &_flc {
    display: inline;
  }

  &_box_title_date {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.3em;
  }
  &_date {
    font-size: 14px;
    color: $dark_text_second;
    font-weight: 500;
    margin-right: 1em;

    &_skeleton {
      background-color: $dark_post_bg;
      height: 1.3em;
      width: 5.77em;
      border-radius: 4px;
    }
  }
  &_title {
    margin-left: 12px;
    font-size: 32px;
    font-weight: 700;
    color: $dark_accent_02;

    &_skeleton {
      border-radius: 8px;
      height: 1em;
      width: 5em;
      background-color: $dark_post_bg;
    }
  }
  &_imageBox {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #1c1c1c;
    border-radius: 12px;
    margin-bottom: 1.5em;
    overflow: hidden;
    margin-bottom: 2em;

    img {
      width: 100%;
      height: 100%;
    }

    &_skeleton {
      height: 304px;
      background-color: $dark_post_bg;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_description {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $dark_border_blocks;

    &_title {
      margin-left: 12px;
      margin-bottom: 1rem;
      font-size: 32px;
      font-weight: 600;
      color: $dark_h2_base;

      &_skeleton {
        height: 1em;
        width: 5em;
        background-color: $dark_post_bg;
        border-radius: 8px;
      }
    }

    &_text {
      margin-left: 12px;
      &_skeleton {
        height: 8em;
        border-radius: 12px;
        background-color: $dark_post_bg;
      }
    }
  }

  &_features {
    margin-bottom: 24px;

    &_title {
      margin-left: 12px;
      margin-bottom: 0.77rem;
      font-size: 32px;
      font-weight: 600;
      color: $dark_h2_base;

      &_skeleton {
        width: 5em;
        height: 1em;
        margin-bottom: 0.77em;
        border-radius: 8px;
        background-color: $dark_post_bg;
      }
    }
    &_ul {
      padding-left: 1.5em;
    }
    &_li {
      position: relative;
      padding-left: 16px;
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 0.3em;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 8px;
        left: 4px;
        top: 12px;
        width: 4px;
        height: 4px;
        background: $dark_accent_02;
      }
    }
    &_label {
      color: $dark_accent_02;
      font-weight: 600;

      &_skeleton {
        border-radius: 6px;
        margin-right: 1em;
        display: inline-block;
        height: 1em;
        width: 4em;
        background-color: $dark_accent_02;
      }
    }
    &_value {
      &_skeleton {
        display: inline-block;
        height: 1.1em;
        width: 10em;
        background-color: $dark_post_bg;
        border-radius: 6px;
      }
    }
  }

  &_resume {
    margin-bottom: 1.7rem;
    &_text {
      margin-left: 12px;
      font-size: 18px;
      color: $dark_h2_base;

      &_skeleton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        background-color: $dark_post_bg;
        border-radius: 8px;
      }
    }
    &_icon {
      display: inline-block;
      margin-left: 12px;
      font-size: 32px;
      margin-bottom: 0.3rem;
      color: $dark_accent_01;
    }
  }
  &_goto {
    text-align: center;
    &_btn {
      display: inline-block;
      width: 50%;
      padding: 12px;
      background-color: $dark_post_bg;
      color: $dark_text_base;
      font-weight: 700;
      font-size: 18px;
      border: 1px solid $dark_text_second;
      transition: 0.3s;

      &:hover {
        border: 1px solid $dark_h2_base;
        background-color: $dark_base_bg;
      }
    }
  }
}

@media (max-width: 911px) {
  .specpr {
    &_title {
      margin-left: 0;
    }
    &_description {
      &_title {
        margin-left: 0;
      }
      &_text {
        margin-left: 0;
      }
    }
    &_features {
      &_title {
        margin-left: 0;
      }
      &_ul {
        padding-left: 1em;
      }
    }
    &_resume {
      &_text {
        margin-left: 0;
      }
      &_icon {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 644px) {
  .specpr {
    &_flc {
      display: none;
    }
    &_imageBox {
      padding: 8px 12px;
      margin-left: 4px;
      margin-right: 4px;

      &_skeleton {
        height: 216px;
      }
    }

    &_features {
      &_li {
        font-size: 17px;
      }
    }

    &_goto {
      &_btn {
        width: 300px;
      }
    }
  }
  .slider_my {
    height: 288px;
    padding: 0;
  }
  .slider_my img {
    object-fit: cover;
  }
}

@media (max-width: 492px) {
  .specpr {
    &_imageBox {
      padding: 0;
    }
  }
  .slider_my {
    height: 248px;
  }
}
@media (max-width: 438px) {
  .specpr {
    &_features {
      &_ul {
        padding-left: 0.1rem;
      }
    }
  }

  .slider_my {
    height: 218px;
  }
}

@media (max-width: 368px) {
  .slider_my {
    height: 198px;
  }
}
